#titre_authentification {
    text-align: center;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
    color: white;
}

body {
    background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#row_tokenapp {
    margin-bottom: 15px
}

.col-md-2.tokenapp {
    text-align: center;
    font-weight: bold;
    font-size: 18px
}

.col-md-3.tokenapp_bind {
    padding: 0px
}

#row_valider {
    text-align: center;
}