body {
    background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#titre_tokenuser{
    text-align: center;
    font-weight: bold;
    color: white;
    margin-bottom:25px;
}

#row_tokenuser {
    margin-top: 15px;
    margin-bottom: 15px;
}

.col-md-2.tokenuser {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.col-md-3.btn_tokenuser{
    text-align:center;
}
