@model ClientApplication.Models.User

@{
    ViewBag.Title = "DecryptPage";
}

<link href="@Url.Content("/Content/DecryptPage.css")" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h1 id="titre_decrypt">Vous pouvez à présent décrypter vos fichiers !</h1>


@using (Html.BeginForm("SaveFiles", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>

        @Html.TextBox("UploadedFile", "", new { type = "file" })

        <input type="submit" value="upload" />

        @{
            if (ViewBag.Message != null)
            {
                @ViewBag.Message
            }
        }
    </div>
}