@model ClientApplication.Models.User

@{
    ViewBag.Title = "DecryptPage";
}

<link href="@Url.Content("/Content/DecryptPage.css")" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h1 id="titre_decrypt">Vous pouvez à présent décrypter vos fichiers !</h1>

<div>
    @using (Html.BeginForm("Decryptage", "Home"))
    {
    <div class="row" id="row_tokenuser">
        <div class="col-md-3">
        </div>

        <div class="col-md-2 tokenuser">
            <label for="pass">Token User</label>
        </div>

        <div class="col-md-3 tokenuser_bind">
            @Html.TextBoxFor(m => m.tokenUser)
        </div>

            <div class="col-md-3">
                <input id="btn_valider" type="submit" value="Valider" />
            </div>

        </div>
        }
    </div>

@using (Html.BeginForm("Decryptage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>

        @Html.TextBox("UploadedFile", "", new { @type = "file", @multiple = "multiple" })

        <input type="submit" value="Decrypter vos fichiers !" />

        @{
            if (ViewBag.Message != null)
            {
                @ViewBag.Message
            }
        }
    </div>
}