@using ClientApplication.Models
@model ClientApplication.Models.User

@{
    ViewBag.Title = "Index";

}
<link href="@Url.Content("/Content/HomePage.css")" rel="stylesheet" type="text/css"/>
<script src="@Url.Content("/Content/HomePage.js")" type="text/javascript"></script>

@{
    var data = ViewBag.Message;
}


<h1 id="titre_login">
    Veuillez vous connectez pour déchiffrer votre fichier !
</h1>


@using (Html.BeginForm())
 {
    <div class="row" id="row_identifiant">
        <div class="col-md-3">
        </div>

        <div class="col-md-2 identifiant">
            <label for="pass">Identifiant</label>
        </div>

        <div class="col-md-3">
            @Html.TextBoxFor(m => m.userName)
        </div>
    </div>


    <div class="row" id="row_password">
        <div class="col-md-3">
        </div>

        <div class="col-md-2 password">
            <label for="pass">Mot de passe</label>
        </div>

        <div class="col-md-3 password">
            @Html.PasswordFor(m => m.password)
        </div>
    </div>

    <div class="row" id="row_connexion">
        <div class="col-md-4">
        </div>

        @if (@data != null)
        {
            <div class="col-md-3">
                <input type="submit" value="Connexion" />
                <p id="message_erreur" style="color:red; display:block; margin-top:15px; font-weight:bold; font-size:16px">L'identifiant ou le mot de passe est éronné !</p>
            </div>
        }

        else
        {
            <div class="col-md-3">
                <input type="submit" value="Connexion" />
                <p id="message_erreur" style="color:red; display:none; margin-top:15px; font-weight:bold; font-size:16px">L'identifiant ou le mot de passe est éronné !</p>
            </div>
        }
    </div>
 }